.first-container {
  color: $acent-color-for-containers;
  background-image: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 0%
    ),
    url(../images/backimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 600px;
  display: flex;
}

.primary-h {
  width: 696px;
  height: fit-content;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $acent-color-text;
  margin-top: 0px;
  margin-bottom: 30px;
}
